.sltheader {
  padding: 30px 0 30px 20px;
  /*background-color: #eaeaea; */
  border: 1px solid #cccccc;
}

.zoom-section{
  background-color: #f1b3ae;
}

.miro-section {
  background-color: #c0f5c0;
}

.main-section {
  background-color: #b3d4fc;
}


#di-logo {
  padding-bottom: 30px;
  padding-right: 30px;
  margin-top: -10px;
  float:right;
}

.top-left{
  padding-left: 20px;
}

