.sltheader {
  padding: 30px 0 30px 20px;
  background-color: #eaeaea;
  border: 1px solid #cccccc;
}

.zoom-section{
  background-color: #f1b3ae;
}

.miro-section {
  background-color: #c0f5c0;
}

.main-section {
  background-color: #b3d4fc;
}


#di-logo {
  padding-bottom: 30px;
  padding-right: 30px;
  margin-top: -10px;
  float: right;
}

#small-icon {
  float: left;
  margin-top: -12px;
  margin-left: -5px;
  padding-right: 15px;
}

.top-left{
  padding-left: 20px;
}

.large-text {
  font-size: 1.3em;
}

.img-link {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 200px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.img-link:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img-section {
  padding: 30px;
}
